@use "./src/assets/sass/variables" as var;
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var.$secondary-gradient;
  min-height: 100vh;
  color: white;

  &-body {
    padding: var.$spacing-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-link {
    color: #61dafb;
  }
}
