@import "./src/assets/sass/variables";
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $secondary-gradient;
  min-height: 100vh;
  color: $white;
  padding: $spacing-6;
  &-body {
    padding: $spacing-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
