@import "./src/assets/sass/variables";
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &-body {
    padding: $spacing-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}
