@import "/src/assets/sass/variables.scss";

.app-header {
  margin: $spacing-10 0;
  &.small {
    margin: $spacing-1;
    transition: ease-out all 0.5s;
    h1 {
      transition: ease-out all 0.5s;
      font-size: 2rem;
    }
  }
}
