@import "./src/assets/sass/variables";

.search {
  display: flex;
  width: 100%;
  max-width: 600px;

  &-form {
    width: 100%;
    padding: 0;
  }

  &-input {
    margin: 0;
    padding: $spacing-2 $spacing-3;
    border-radius: $spacing-6;
    width: calc(100% - $spacing-7);
    font-weight: 400;
  }
}
